/* block styling */
.property-details {
  text-align: left;
}

.property-details a {
  text-decoration: none;
}

.property-details .label {
  font-weight: bold;
}

/* element specific styling */
.property-details__property-image {
  width: 100%;
  height: auto;
}