/* block styling */
.property-details {
  text-align: left;
}

.property-details__shown {
  display: block;
}

.property-details__hidden {
  display: none;
}

.property-details a {
  text-decoration: none;
}

.property-details .label {
  font-weight: bold;
}

/* element specific styling */
.property-details__property-image {
  width: 100%;
  height: auto;
}

.property-details__close-button {
  width: 100%;
  text-align: end;
}

.property-details__detail-table {
  width: 100%;
  border: none;
}

.property-details__table-cell {
  border: none;
  word-break: break-word;
}

.property-details__call-to-action {
  padding: 5px;
}