/* block styling */
.property-dialog {
  text-align: left;
}

.property-dialog .label {
  font-weight: bold;
}

/* element specific styling */
.property-dialog__property-image {
  width: 100%;
  height: auto;
}
